@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap');



/*-------------------------------------Vista home---------------------------------------*/

#root {
    position: absolute;
}


body {
    margin: 0;
    font-family: "Ysabeau SC";
    color: white;
    font-size: 25px;
    background: url(./imagenes/fondoGif.gif);
}

#mainHome {

    background: rgba(163, 23, 7, 0.727);
    color: white;
    margin-top: 80px;
    font-size: 22px;
    padding: 10px;
    text-align: center;
}

.fa-google{
    background: conic-gradient(from -45deg, red 110deg, blue 90deg 180deg, green 180deg 270deg, yellow 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
#google{
    color: #eddcdc;
    font-size: 30px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
}


.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }


/*---------------------------------Diseño del celular-----------------------------------*/
@media screen and (min-width: 200px) and (max-width: 530px) {

    /*----------------------------------------Vista Home-------------------------------------*/
    /-------------------------------------Vista registro--------------------------------------/
    /* Estilos para el elemento 'section' con el ID 'registroSection' */
    
    #registroSection  {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    background: url(./imagenes/fondoGif.gif);
    align-items: center;
    background-size: contain;
    margin: auto;
    height: 667px; ;
    width: 375px;
    }
    
    #divregistro {
    background-color:#941515;
    flex-direction: column;
    justify-content: center;
    justify-items:center ;
    align-items: center;
    padding: 11px;
    border-radius: 20px; 
    
    }
    #registroSection h2{
        color: #f5f0f0;
        justify-self: center;
    }
    .input {
      width: 100%;
      padding: 10px;
      flex-direction: column;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      justify-content: center;
      border-radius: 20px;
      font-size: 16px;
    }
    
    #Registrarseboton {
    background-color: #420f0f;
    color: #f3f3f3;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    margin: 20px;
    }
    #barraNav a.icon {
        background: black;
        display: block;
        position: absolute;
        width: 35px;
        height: 30px;
        right: 0;
        top: 0;
    }

    #barraNav a:hover {
        background-color: #ddd;
        color: black;
    }

    #barraNav div a.active {
        background-color: #77150a;
        color: white;
    }
    
    #barraNav h1{
        color: #e9e9e9;
        text-justify: center;
        padding: 30px;
    }

  #logohome {
        width: 80px;
        height: 60px;
        top: 0px;
        position: absolute;
  }

    /*---------------------------------Vista Login-----------------------------------*/

    
    #logoLogin {
        width: 140px;
        height: 75px;
       margin-left: 30%;
       margin-top: 5%;
       border-radius: 20px;
    }

    #titleLogin {
        font-size: 30px;
        color: #f3eeee;
        text-shadow: 1px 1px 0 rgb(215, 35, 35),
               -1px 1px 0 rgb(215, 35, 35),
               1px -1px 0 rgb(215, 35, 35),
               -1px -1px 0 rgb(215, 35, 35);
        text-align: center;

    }

    .ingreso {
        font-size: 20px;
        color: #000;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        font-family: "Ysabeau SC";
        margin: 0 auto;
        display: grid;
        position: relative;
        margin-top: 100px;
        border: 1px solid;
        border-radius: 10px;
    }
    
    #botonLogin{
        background-color: #b22b2b;
        color: #f3eeee;
        border-radius: 20px;
    }

    /*-------------------------------------Vista registro--------------------------------------*/
/* Estilos para el elemento 'section' con el ID 'registroSection' */

#registroSection  {
display: flex;
justify-content: center; /* Centra horizontalmente */
background: url(./imagenes/fondoGif.gif);
align-items: center;
background-size: contain;
margin: auto;
height: 667px; ;
width: 375px;
}

#divregistro {
background-color:#941515;
flex-direction: column;
justify-content: center;
justify-items:center ;
align-items: center;
padding: 11px;
border-radius: 20px; 

}
#registroSection h2{
    color: #f5f0f0;
    justify-self: center;
}
.input {
  width: 100%;
  padding: 10px;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  border-radius: 20px;
  font-size: 16px;
}

#Registrarseboton {
background-color: #420f0f;
color: #f3f3f3;
border-radius: 20px;
justify-content: center;
text-align: center;
margin: 20px;
}
/*--------------------------Vista mapa--------------------------------- */
#paginaprincipalmapa{
    display:flex;
    overflow: hidden;
    background: url(./imagenes/AMERICA\,.jpg);
    background-size:cover;
    background-repeat: repeat;
    margin:10px;
}

#paginaprincipalmapa h1{
    margin-top: 70px;
    color: #e57667;
    text-align:unset;
    font-family: "Ysabeau SC";

}

#paginaprincipalmapa button{
    background-color: #9f1d1d;
    padding: 8px;
    font-family: "Ysabeau SC";
    font-size: medium;
    color: #fffbfb;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: auto;
    margin-bottom: 1px;
    

}
#buttonMexico{
    background: url(./imagenes/banderasMexico-07.jpg);
    background-repeat: no-repeat;
    font-family: "Ysabeau SC";
    font-size: large;
    background-size: cover;

}
#buttonPeru {
    background:url(./imagenes/istockphoto-967321126-612x612.jpg) ;
    background-repeat: no-repeat;
    font-family: "Ysabeau SC";
    font-size: large;
    background-size: cover;
}

#buttonColombia{
    background: url(./imagenes/descarga.png);
    background-repeat: no-repeat;
    font-family: "Ysabeau SC";
    color: #000;
    font-size: large;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5); 
       
}

#mapasection button {
    justify-content: center;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    font-size: large;
    text-shadow: 1px 1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(6, 5, 5),
    1px -1px 0 rgb(0, 0, 0),
    -1px -1px 0 rgb(4, 3, 3);
    color:#fffcfc;
}

#mapasection{
display: inline;
}
#mapasection img{
    margin-top: 40px;
    margin:50px;
    border-radius: 20px;
    border:2px solid #000;
    height: 140px; ;

}
}

/*---------------------------------Diseño Escritorio-----------------------------------*/
@media screen and (min-width: 531px) {

    body .bienvenida {
        font-size: 40px;
        font-family: "Ysabeau SC";
        color: white;
        margin: 0 80px;

    }

    #mainHome {
        grid-area: main;
        background: rgba(163, 22, 7, 0.607);
        color: white;
        margin-top: 32px;
        font-size: 20px;
    }

    #logo {
        width: 150px;
        height: 80px;
        left: 20px;
        position: absolute;
        margin-top: -3px;
    }

    #barraNav {
        background-color: rgb(207, 17, 17);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        overflow: auto;
        flex-wrap: wrap;
    }

    #barraNav div {
        display: block;
    }

    #barraNav div a:hover {
        background-color: #aa1606;
        color: #fff;
    }

    #barraNav div a.active {
        background-color: #04AA6D;
        color: #fff;
    }

    #barraNav a.icon {
        background: #000;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        display: none;
    }

    #divHome {
        display: block;
    }

    #divHome a {
        font-size: 28px;
        color: white;
        float: left;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: "Ysabeau SC";
    }


    /*-------------------------------------Vista login--------------------------------------*/

    #logoLogin {
        width: 180px;
        height: 100px;
        left: 380px;
        position: absolute;
        margin-top: 20px;
    }

    #titleLogin {
        font-size: 28px;
        color: white;
        float: left;
        background-color: rgba(207, 17, 17, 0.505);
        font-family: "Ysabeau SC";
        margin-top: 122px;
        margin: 132px 138px;
    }

    #botonLogin {
        color: rgb(19, 2, 2);
        font-weight: bold;
    }

    .ingreso {
        font-size: 20px;
        color: #000;
        float: left;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: "Ysabeau SC";
        margin: 10px 0;
    }

    #divLogin {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        position: fixed;
    }
}